# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# dotenv environment variable files
.env

# temp directory
.temp
.tmp

# TypeScript build info
*.tsbuildinfo

# ESLint cache
.eslintcache

# Coverage reports
coverage/

# MacOS system files
.DS_Store

# Turbo
.turbo
