################ NestJS backend ################

# Main database for the app
DATABASE_URL="postgresql://coursehub_user:password@postgres:5432/coursehub"

# Shadow database used by Prisma migrations
SHADOW_DATABASE_URL="postgresql://coursehub_user:password@postgres:5432/coursehub_shadow"

# The only origin that is accepted by CORS
# Native apps will ignore this, set for future proofing
CORS_ORIGIN=https://coursehub.hu

NODE_ENV=production

# External port to map to the NestJS backend default port (3000)
PORT=30000

# Comma-separated list of admin emails
ADMIN_EMAILS=

# JWT secret
# Use 384 bits (48 bytes) for HS384 algorithm
JWT_SECRET=

# Google app ID
GOOGLE_CLIENT_ID=

# Google app secret
GOOGLE_CLIENT_SECRET=

# Google OAuth callback URL
GOOGLE_CALLBACK_URL=

# Redis server host (IP address, hostname or Docker network alias)
REDIS_HOST=redis

# Password for the Redis instance
REDIS_PASSWORD=

# External port to map to the Redis default port (6379)
# This is internal on the Docker network
REDIS_PORT=6379

################ Postgres DB ################

# Superuser for the test database
POSTGRES_USER=postgres

# Password for the superuser
POSTGRES_PASSWORD=

# Name of the default database to be created
POSTGRES_DB=postgres

# External port to map to the Postgres default port (5432)
# Used for migrations
POSTGRES_PORT=40000

################ GHCR ################

# Used for GHCR authentication when pushing images
GITHUB_TOKEN=