################ NestJS backend ################

# Main database for the app
DATABASE_URL="postgresql://prisma_user:password@10.200.0.1:31000/prod_db"

# Shadow database used by Prisma migrations
SHADOW_DATABASE_URL="postgresql://prisma_user:password@10.200.0.1:31000/prod_db_shadow"

# The only origin that is accepted by CORS
# Native apps will ignore this, set for future proofing
CORS_ORIGIN=https://coursehub.sigsegv.hu

NODE_ENV=production

# External port to map to the NestJS backend default port (3000)
PORT=30000

# Comma-separated list of admin emails
ADMIN_EMAILS=

# JWT secret
# Use 384 bits (48 bytes) for HS384 algorithm
JWT_SECRET=

# Google app ID
GOOGLE_CLIENT_ID=

# Google app secret
GOOGLE_CLIENT_SECRET=

# Google OAuth callback URL
GOOGLE_CALLBACK_URL=

# Redis server host (IP address or hostname)
REDIS_HOST=

# Password for the Redis instance
REDIS_PASSWORD=

# External port to map to the Redis default port (6379)
# Should match the port in the REDIS_URL above
REDIS_PORT=

################ Postgres DB ################

# Superuser for the test database
POSTGRES_USER=postgres

# Password for the superuser
POSTGRES_PASSWORD=

# Name of the default database to be created
POSTGRES_DB=postgres

# External port to map to the PostgreSQL default port (5432)
POSTGRES_PORT=31000

################ GHCR ################

# Used for GHCR authentication when pushing images
GITHUB_TOKEN=