# Superuser for the test database
POSTGRES_USER=postgres

# Password for the superuser
POSTGRES_PASSWORD=

# Name of the default database to be created
POSTGRES_DB=postgres

# External port to map to the PostgreSQL default port (5432)
POSTGRES_PORT=